
.vs/YT.CMS.Web/v14/.suo
YT.CMS.Common/bin/Debug/Newtonsoft.Json.dll
YT.CMS.Common/bin/Debug/Newtonsoft.Json.xml
YT.CMS.Common/bin/Debug/YT.CMS.Common.dll
YT.CMS.Common/bin/Debug/YT.CMS.Common.dll.config
YT.CMS.Common/bin/Debug/YT.CMS.Common.pdb
YT.CMS.Common/obj/Debug/YT.CMS.Common.csproj.FileListAbsolute.txt
YT.CMS.Common/obj/Debug/YT.CMS.Common.csprojResolveAssemblyReference.cache
YT.CMS.Common/obj/Debug/YT.CMS.Common.dll
YT.CMS.Common/obj/Debug/YT.CMS.Common.pdb
YT.CMS.Core/bin/Debug/EntityFramework.dll
YT.CMS.Core/bin/Debug/EntityFramework.SqlServer.dll
YT.CMS.Core/bin/Debug/EntityFramework.SqlServer.xml
YT.CMS.Core/bin/Debug/EntityFramework.xml
YT.CMS.Core/bin/Debug/YT.CMS.Core.dll
YT.CMS.Core/bin/Debug/YT.CMS.Core.dll.config
YT.CMS.Core/bin/Debug/YT.CMS.Core.pdb
YT.CMS.Core/obj/Debug/YT.CMS.Core.csproj.FileListAbsolute.txt
YT.CMS.Core/obj/Debug/YT.CMS.Core.csprojResolveAssemblyReference.cache
YT.CMS.Core/obj/Debug/YT.CMS.Core.dll
YT.CMS.Core/obj/Debug/YT.CMS.Core.pdb
YT.CMS.Entity/bin/Debug/YT.CMS.Entity.dll
YT.CMS.Entity/bin/Debug/YT.CMS.Entity.pdb
YT.CMS.Entity/obj/Debug/YT.CMS.Entity.csproj.FileListAbsolute.txt
YT.CMS.Entity/obj/Debug/YT.CMS.Entity.csprojResolveAssemblyReference.cache
YT.CMS.Entity/obj/Debug/YT.CMS.Entity.dll
YT.CMS.Entity/obj/Debug/YT.CMS.Entity.pdb
YT.CMS.Entity/YT_CMS_LogsEntity.cs
YT.CMS.IBaseRespository/bin/Debug/EntityFramework.dll
YT.CMS.IBaseRespository/bin/Debug/EntityFramework.xml
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.Core.dll
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.Core.pdb
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.Entity.dll
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.Entity.pdb
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.IRespository.dll
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.IRespository.pdb
YT.CMS.IBaseRespository/obj/Debug/YT.CMS.IRespository.csproj.FileListAbsolute.txt
YT.CMS.IBaseRespository/obj/Debug/YT.CMS.IRespository.csprojResolveAssemblyReference.cache
YT.CMS.IBaseRespository/obj/Debug/YT.CMS.IRespository.dll
YT.CMS.IBaseRespository/obj/Debug/YT.CMS.IRespository.pdb
YT.CMS.Mapping/bin/Debug/EntityFramework.dll
YT.CMS.Mapping/bin/Debug/EntityFramework.SqlServer.dll
YT.CMS.Mapping/bin/Debug/EntityFramework.SqlServer.xml
YT.CMS.Mapping/bin/Debug/EntityFramework.xml
YT.CMS.Mapping/bin/Debug/YT.CMS.Entity.dll
YT.CMS.Mapping/bin/Debug/YT.CMS.Entity.pdb
YT.CMS.Mapping/bin/Debug/YT.CMS.Mapping.dll
YT.CMS.Mapping/bin/Debug/YT.CMS.Mapping.pdb
YT.CMS.Mapping/obj/Debug/YT.CMS.Mapping.csproj.FileListAbsolute.txt
YT.CMS.Mapping/obj/Debug/YT.CMS.Mapping.csprojResolveAssemblyReference.cache
YT.CMS.Mapping/obj/Debug/YT.CMS.Mapping.dll
YT.CMS.Mapping/obj/Debug/YT.CMS.Mapping.pdb
YT.CMS.Respository/bin/Debug/EntityFramework.dll
YT.CMS.Respository/bin/Debug/EntityFramework.xml
YT.CMS.Respository/bin/Debug/YT.CMS.Core.dll
YT.CMS.Respository/bin/Debug/YT.CMS.Core.pdb
YT.CMS.Respository/bin/Debug/YT.CMS.Entity.dll
YT.CMS.Respository/bin/Debug/YT.CMS.Entity.pdb
YT.CMS.Respository/bin/Debug/YT.CMS.IRespository.dll
YT.CMS.Respository/bin/Debug/YT.CMS.IRespository.pdb
YT.CMS.Respository/bin/Debug/YT.CMS.Respository.dll
YT.CMS.Respository/bin/Debug/YT.CMS.Respository.pdb
YT.CMS.Respository/obj/Debug/YT.CMS.Respository.csproj.FileListAbsolute.txt
YT.CMS.Respository/obj/Debug/YT.CMS.Respository.csprojResolveAssemblyReference.cache
YT.CMS.Respository/obj/Debug/YT.CMS.Respository.dll
YT.CMS.Respository/obj/Debug/YT.CMS.Respository.pdb
YT.CMS.WebApi/bin/Antlr3.Runtime.pdb
YT.CMS.WebApi/bin/EntityFramework.dll
YT.CMS.WebApi/bin/EntityFramework.SqlServer.dll
YT.CMS.WebApi/bin/EntityFramework.SqlServer.xml
YT.CMS.WebApi/bin/EntityFramework.xml
YT.CMS.WebApi/bin/Microsoft.AI.DependencyCollector.xml
YT.CMS.WebApi/bin/Microsoft.AI.ServerTelemetryChannel.xml
YT.CMS.WebApi/bin/Microsoft.AI.Web.xml
YT.CMS.WebApi/bin/Microsoft.AI.WindowsServer.xml
YT.CMS.WebApi/bin/Microsoft.ApplicationInsights.xml
YT.CMS.WebApi/bin/Microsoft.AspNet.Identity.Core.xml
YT.CMS.WebApi/bin/Microsoft.AspNet.Identity.EntityFramework.xml
YT.CMS.WebApi/bin/Microsoft.AspNet.Identity.Owin.xml
YT.CMS.WebApi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Host.SystemWeb.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.Cookies.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.Facebook.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.Google.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.OAuth.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.Twitter.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.xml
YT.CMS.WebApi/bin/Microsoft.Owin.xml
YT.CMS.WebApi/bin/Newtonsoft.Json.dll
YT.CMS.WebApi/bin/Newtonsoft.Json.xml
YT.CMS.WebApi/bin/roslyn/csc.exe
YT.CMS.WebApi/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
YT.CMS.WebApi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
YT.CMS.WebApi/bin/roslyn/Microsoft.CodeAnalysis.dll
YT.CMS.WebApi/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
YT.CMS.WebApi/bin/roslyn/Microsoft.CSharp.Core.targets
YT.CMS.WebApi/bin/roslyn/Microsoft.VisualBasic.Core.targets
YT.CMS.WebApi/bin/roslyn/System.Collections.Immutable.dll
YT.CMS.WebApi/bin/roslyn/System.Reflection.Metadata.dll
YT.CMS.WebApi/bin/roslyn/vbc.exe
YT.CMS.WebApi/bin/roslyn/VBCSCompiler.exe
YT.CMS.WebApi/bin/roslyn/VBCSCompiler.exe.config
YT.CMS.WebApi/bin/System.Net.Http.Formatting.xml
YT.CMS.WebApi/bin/System.Web.Helpers.xml
YT.CMS.WebApi/bin/System.Web.Http.Owin.xml
YT.CMS.WebApi/bin/System.Web.Http.WebHost.xml
YT.CMS.WebApi/bin/System.Web.Http.xml
YT.CMS.WebApi/bin/System.Web.Mvc.xml
YT.CMS.WebApi/bin/System.Web.Optimization.xml
YT.CMS.WebApi/bin/System.Web.Razor.xml
YT.CMS.WebApi/bin/System.Web.WebPages.Deployment.xml
YT.CMS.WebApi/bin/System.Web.WebPages.Razor.xml
YT.CMS.WebApi/bin/System.Web.WebPages.xml
YT.CMS.WebApi/bin/YT.CMS.Common.pdb
YT.CMS.WebApi/bin/YT.CMS.Core.pdb
YT.CMS.WebApi/bin/YT.CMS.Entity.pdb
YT.CMS.WebApi/bin/YT.CMS.IRespository.pdb
YT.CMS.WebApi/bin/YT.CMS.Respository.pdb
YT.CMS.WebApi/bin/YT.CMS.WebApi.dll
YT.CMS.WebApi/bin/YT.CMS.WebApi.dll.config
YT.CMS.WebApi/bin/YT.CMS.WebApi.pdb
YT.CMS.WebApi/bin/zh-Hans/EntityFramework.resources.dll
YT.CMS.WebApi/bin/zh-Hans/EntityFramework.SqlServer.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.AspNet.Identity.Core.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.AspNet.Identity.EntityFramework.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.AspNet.Identity.Owin.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Host.SystemWeb.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Security.Facebook.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Security.Google.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Security.MicrosoftAccount.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Security.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Security.Twitter.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Net.Http.Formatting.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Helpers.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Http.Owin.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Http.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Http.WebHost.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Mvc.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Optimization.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Razor.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.WebPages.resources.dll
YT.CMS.WebApi/obj/Debug/YT.CMS.WebApi.csproj.FileListAbsolute.txt
YT.CMS.WebApi/obj/Debug/YT.CMS.WebApi.csprojResolveAssemblyReference.cache
YT.CMS.WebApi/obj/Debug/YT.CMS.WebApi.dll
YT.CMS.WebApi/obj/Debug/YT.CMS.WebApi.pdb
.vs/YT.CMS.Web/v14/.suo
YT.CMS.Common/bin/Debug/Newtonsoft.Json.dll
YT.CMS.Common/bin/Debug/Newtonsoft.Json.xml
YT.CMS.Common/bin/Debug/YT.CMS.Common.dll
YT.CMS.Common/bin/Debug/YT.CMS.Common.dll.config
YT.CMS.Common/bin/Debug/YT.CMS.Common.pdb
YT.CMS.Common/obj/Debug/YT.CMS.Common.csproj.FileListAbsolute.txt
YT.CMS.Common/obj/Debug/YT.CMS.Common.csprojResolveAssemblyReference.cache
YT.CMS.Common/obj/Debug/YT.CMS.Common.dll
YT.CMS.Common/obj/Debug/YT.CMS.Common.pdb
YT.CMS.Core/bin/Debug/EntityFramework.dll
YT.CMS.Core/bin/Debug/EntityFramework.SqlServer.dll
YT.CMS.Core/bin/Debug/EntityFramework.SqlServer.xml
YT.CMS.Core/bin/Debug/EntityFramework.xml
YT.CMS.Core/bin/Debug/YT.CMS.Core.dll
YT.CMS.Core/bin/Debug/YT.CMS.Core.dll.config
YT.CMS.Core/bin/Debug/YT.CMS.Core.pdb
YT.CMS.Core/obj/Debug/YT.CMS.Core.csproj.FileListAbsolute.txt
YT.CMS.Core/obj/Debug/YT.CMS.Core.csprojResolveAssemblyReference.cache
YT.CMS.Core/obj/Debug/YT.CMS.Core.dll
YT.CMS.Core/obj/Debug/YT.CMS.Core.pdb
YT.CMS.Entity/bin/Debug/YT.CMS.Entity.dll
YT.CMS.Entity/bin/Debug/YT.CMS.Entity.pdb
YT.CMS.Entity/obj/Debug/YT.CMS.Entity.csproj.FileListAbsolute.txt
YT.CMS.Entity/obj/Debug/YT.CMS.Entity.dll
YT.CMS.Entity/obj/Debug/YT.CMS.Entity.pdb
YT.CMS.Entity/YT_CMS_LogsEntity.cs
YT.CMS.IBaseRespository/bin/Debug/EntityFramework.dll
YT.CMS.IBaseRespository/bin/Debug/EntityFramework.xml
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.Core.dll
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.Core.pdb
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.Entity.dll
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.Entity.pdb
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.IRespository.dll
YT.CMS.IBaseRespository/bin/Debug/YT.CMS.IRespository.pdb
YT.CMS.IBaseRespository/obj/Debug/YT.CMS.IRespository.csproj.FileListAbsolute.txt
YT.CMS.IBaseRespository/obj/Debug/YT.CMS.IRespository.csprojResolveAssemblyReference.cache
YT.CMS.IBaseRespository/obj/Debug/YT.CMS.IRespository.dll
YT.CMS.IBaseRespository/obj/Debug/YT.CMS.IRespository.pdb
YT.CMS.Mapping/bin/Debug/EntityFramework.dll
YT.CMS.Mapping/bin/Debug/EntityFramework.SqlServer.dll
YT.CMS.Mapping/bin/Debug/EntityFramework.SqlServer.xml
YT.CMS.Mapping/bin/Debug/EntityFramework.xml
YT.CMS.Mapping/bin/Debug/YT.CMS.Entity.dll
YT.CMS.Mapping/bin/Debug/YT.CMS.Entity.pdb
YT.CMS.Mapping/bin/Debug/YT.CMS.Mapping.dll
YT.CMS.Mapping/bin/Debug/YT.CMS.Mapping.pdb
YT.CMS.Mapping/obj/Debug/YT.CMS.Mapping.csproj.FileListAbsolute.txt
YT.CMS.Mapping/obj/Debug/YT.CMS.Mapping.csprojResolveAssemblyReference.cache
YT.CMS.Mapping/obj/Debug/YT.CMS.Mapping.dll
YT.CMS.Mapping/obj/Debug/YT.CMS.Mapping.pdb
YT.CMS.Respository/bin/Debug/EntityFramework.dll
YT.CMS.Respository/bin/Debug/EntityFramework.xml
YT.CMS.Respository/bin/Debug/YT.CMS.Core.dll
YT.CMS.Respository/bin/Debug/YT.CMS.Core.pdb
YT.CMS.Respository/bin/Debug/YT.CMS.Entity.dll
YT.CMS.Respository/bin/Debug/YT.CMS.Entity.pdb
YT.CMS.Respository/bin/Debug/YT.CMS.IRespository.dll
YT.CMS.Respository/bin/Debug/YT.CMS.IRespository.pdb
YT.CMS.Respository/bin/Debug/YT.CMS.Respository.dll
YT.CMS.Respository/bin/Debug/YT.CMS.Respository.pdb
YT.CMS.Respository/obj/Debug/YT.CMS.Respository.csproj.FileListAbsolute.txt
YT.CMS.Respository/obj/Debug/YT.CMS.Respository.csprojResolveAssemblyReference.cache
YT.CMS.Respository/obj/Debug/YT.CMS.Respository.dll
YT.CMS.Respository/obj/Debug/YT.CMS.Respository.pdb
YT.CMS.WebApi/bin/Antlr3.Runtime.pdb
YT.CMS.WebApi/bin/EntityFramework.dll
YT.CMS.WebApi/bin/EntityFramework.SqlServer.dll
YT.CMS.WebApi/bin/EntityFramework.SqlServer.xml
YT.CMS.WebApi/bin/EntityFramework.xml
YT.CMS.WebApi/bin/Microsoft.AI.DependencyCollector.xml
YT.CMS.WebApi/bin/Microsoft.AI.ServerTelemetryChannel.xml
YT.CMS.WebApi/bin/Microsoft.AI.Web.xml
YT.CMS.WebApi/bin/Microsoft.AI.WindowsServer.xml
YT.CMS.WebApi/bin/Microsoft.ApplicationInsights.xml
YT.CMS.WebApi/bin/Microsoft.AspNet.Identity.Core.xml
YT.CMS.WebApi/bin/Microsoft.AspNet.Identity.EntityFramework.xml
YT.CMS.WebApi/bin/Microsoft.AspNet.Identity.Owin.xml
YT.CMS.WebApi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Host.SystemWeb.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.Cookies.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.Facebook.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.Google.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.OAuth.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.Twitter.xml
YT.CMS.WebApi/bin/Microsoft.Owin.Security.xml
YT.CMS.WebApi/bin/Microsoft.Owin.xml
YT.CMS.WebApi/bin/Newtonsoft.Json.dll
YT.CMS.WebApi/bin/Newtonsoft.Json.xml
YT.CMS.WebApi/bin/roslyn/csc.exe
YT.CMS.WebApi/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
YT.CMS.WebApi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
YT.CMS.WebApi/bin/roslyn/Microsoft.CodeAnalysis.dll
YT.CMS.WebApi/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
YT.CMS.WebApi/bin/roslyn/Microsoft.CSharp.Core.targets
YT.CMS.WebApi/bin/roslyn/Microsoft.VisualBasic.Core.targets
YT.CMS.WebApi/bin/roslyn/System.Collections.Immutable.dll
YT.CMS.WebApi/bin/roslyn/System.Reflection.Metadata.dll
YT.CMS.WebApi/bin/roslyn/vbc.exe
YT.CMS.WebApi/bin/roslyn/VBCSCompiler.exe
YT.CMS.WebApi/bin/roslyn/VBCSCompiler.exe.config
YT.CMS.WebApi/bin/System.Net.Http.Formatting.xml
YT.CMS.WebApi/bin/System.Web.Helpers.xml
YT.CMS.WebApi/bin/System.Web.Http.Owin.xml
YT.CMS.WebApi/bin/System.Web.Http.WebHost.xml
YT.CMS.WebApi/bin/System.Web.Http.xml
YT.CMS.WebApi/bin/System.Web.Mvc.xml
YT.CMS.WebApi/bin/System.Web.Optimization.xml
YT.CMS.WebApi/bin/System.Web.Razor.xml
YT.CMS.WebApi/bin/System.Web.WebPages.Deployment.xml
YT.CMS.WebApi/bin/System.Web.WebPages.Razor.xml
YT.CMS.WebApi/bin/System.Web.WebPages.xml
YT.CMS.WebApi/bin/YT.CMS.Common.pdb
YT.CMS.WebApi/bin/YT.CMS.Core.pdb
YT.CMS.WebApi/bin/YT.CMS.Entity.pdb
YT.CMS.WebApi/bin/YT.CMS.IRespository.pdb
YT.CMS.WebApi/bin/YT.CMS.Respository.pdb
YT.CMS.WebApi/bin/YT.CMS.WebApi.dll
YT.CMS.WebApi/bin/YT.CMS.WebApi.dll.config
YT.CMS.WebApi/bin/YT.CMS.WebApi.pdb
YT.CMS.WebApi/bin/zh-Hans/EntityFramework.resources.dll
YT.CMS.WebApi/bin/zh-Hans/EntityFramework.SqlServer.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.AspNet.Identity.Core.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.AspNet.Identity.EntityFramework.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.AspNet.Identity.Owin.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Host.SystemWeb.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Security.Facebook.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Security.Google.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Security.MicrosoftAccount.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Security.resources.dll
YT.CMS.WebApi/bin/zh-Hans/Microsoft.Owin.Security.Twitter.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Net.Http.Formatting.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Helpers.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Http.Owin.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Http.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Http.WebHost.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Mvc.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Optimization.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.Razor.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
YT.CMS.WebApi/bin/zh-Hans/System.Web.WebPages.resources.dll
YT.CMS.WebApi/obj/Debug/YT.CMS.WebApi.csproj.FileListAbsolute.txt
YT.CMS.WebApi/obj/Debug/YT.CMS.WebApi.csprojResolveAssemblyReference.cache
YT.CMS.WebApi/obj/Debug/YT.CMS.WebApi.dll
YT.CMS.WebApi/obj/Debug/YT.CMS.WebApi.pdb
